@value variables: "../../variables.css";
@value background-front, price-color, table-border from variables;

.Plan {
  margin-bottom: 32px;
}

h1 {
  margin: 0;
  line-height: 1;
  margin-bottom: 16px;
}

.pricesTable {
  background-color: background-front;
  border-collapse: collapse;
  width: 100%;
}

.pricesTable td {
  border: 1px solid table-border;
  text-align: left;
  padding: 8px;
  line-height: 1;
}

.pricesTable tr td:last-child {
  color: price-color;
}