@value variables: "../../variables.css";
@value primary-main, primary-dark, disabled, text-light from variables;

.Tabs {
  display: flex;
  margin: 0 -8px 16px -8px;
}

.tab {
  padding: 16px;
  color: text-light;
  background-color: disabled;
  border-radius: 8px;
  margin: 0 8px;
  text-shadow:  2px 2px 4px #000000;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: primary-dark;
}