@value variables: "../../variables.css";
@value text-light, primary-main from variables;

.Navbar {
  position: fixed;
  width: 100%;
  background: primary-main;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  color: text-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  line-height: 1;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow:  2px 2px 4px #000000;
}

.logo {
  text-decoration: none;
  cursor: pointer;
}

.logo svg {
  height: 3em;
}