@value variables: "./variables.css";
@value text-light, text-dark, background-back from variables;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: background-back;
  color: text-dark;
  margin: 0;
  padding: 0;
  font-family: arial, 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 14px;
  }
}