@value primary-main: #306f24;
@value primary-dark: #285d12;
@value disabled: #7e7e7e;
@value text-dark: #595957;
@value text-light: #ffffff;
@value background-back: #ffffff;
@value background-mid: #e7e7e7;
@value background-front: #ffffff;
@value divider: #e2e2e2;
@value price-color: #809df8;
@value table-border: #e2e2e2;